/* body style and background image */
body {
	background-image: url("./faded_blue.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* row postioning */
.row {
	padding-top: 20px;
	padding-left: 100px;
}

/* Color for "Contact Me" */
h1 {
	color: #40e0d0;
}

/* container positioning */
.container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}

/* sticky footer  */
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	background-color: black;
}
