/* Body style and background image */

body {
	background-image: url("./faded_blue.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* Text color changes in the first col tag and the paragraph tag */
.col {
	color: #40e0d0;
}
p {
	color: #40e0d0;
}
