/* Body style and background image */

body {
	background-image: url("./faded_blue.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* Text color changes in the first col tag and the paragraph tag */
.col {
	color: #40e0d0;
}
p {
	color: #2aa195;
}

.card {
	height: 280px;
	background-color: lightblue;
}

.container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	background-color: black;
}
