.img1 {
	float: left;
}

.aboutme {
	margin-left: 300px;
}

.cont1 {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 500px;
}

.h1 {
	color: #40e0d0;
	margin-top: 100px;
	margin-left: 50px;
}

.bottom-container {
	position: fixed;
	text-align: center;
	bottom: 0px;
	width: 100%;
}

body {
	background-image: url("./faded_blue.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

p {
	color: #40e0d0;
}
