/* column h5 text color and positioning  */
.col-lg-4 h5 {
	color: #40e0d0;
	text-align: center;
}

/* body background image and layout */
body {
	background-image: url("./faded_blue.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
